<div fxLayout="Column" fxLayoutAlign="center center" class="text-center" style="margin:20px">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <p><b>
        This is a Web Application Used For Conducting Students Body Elections at Egerton University
    
        <br>

        ADMINISTRATOR PERFORMS THE FOLLOWING FUNCTIONS<br>
    <ul class="list-group">
        <li class="list-group-item">Register A Contestant</li>
        <li class="list-group-item">Set Voting Time</li>
        <li class="list-group-item">Reset The Voter Database</li>
        <li class="list-group-item">Edit Voter and Contestants Details</li>
        <li class="list-group-item">Delete Voter and Contestants details</li>
    </ul>

    <br>

    STUDENTS AND CONTESTANTS CAN:<br>
    <ul class="list-group">
        <li class="list-group-item">Register</li>
        <li class="list-group-item">Vote</li>
        <li class="list-group-item">Change Password</li>
    </ul></b>
</p>
</div>