<div fxFill class="body">

  <div div fxLayout="row" fxLayoutAlign="space-around center" style="margin: 20px;">
   
    <mat-card class="dashboard-card">
      <mat-card-header class="card-header">
        <mat-card-title>
          <h1 class="value-text">Voters 10</h1>
        </mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-header class="card-header">
        <mat-card-title>
          <h1 class="value-text">Voters 10</h1>
        </mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-header class="card-header">
        <mat-card-title>
          <h1 class="value-text">Voters 10</h1>
        </mat-card-title>
      </mat-card-header>
    </mat-card>

  </div>

  <mat-divider></mat-divider>

  <app-charts></app-charts>

  <mat-divider></mat-divider>
  
  <div >
    <app-studenttable></app-studenttable>
    <app-contestanttable></app-contestanttable>
  </div>

</div>