<div fxLayoutAlign="center" class="main">
  <mat-card fxFlex="50" *ngIf="!isloggedin" fxFlex="30">
    <mat-toolbar>Login Page</mat-toolbar>
    <form #f="ngForm" (ngSubmit)="f.form.valid && login()" fxLayoutAlign="stretch" fxLayout="column" class="login-form">

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Email</mat-label>
        <input name="email" type="email" matInput placeholder="Ex. pat@example.com" [(ngModel)]="user.email" #email="ngModel"
          email required />
        <div *ngIf="f.submitted && email.invalid">
          <mat-error *ngIf="email.errors.required">
            Email Required
          </mat-error>
          <mat-error *ngIf="email.errors.email">
            Enter Valid Email
          </mat-error>
        </div>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Enter password</mat-label>
        <input required minlength="5" name="password" [(ngModel)]="user.password" matInput [type]="hide ? 'password' : 'text'" #password="ngModel" />
        <div *ngIf="f.submitted && password.invalid">
          <mat-error *ngIf="password.errors.required">
            Password Required
          </mat-error>
          <mat-error *ngIf="password.errors.minlength">
            Atleast 6 characters
          </mat-error>
        </div>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <h3 *ngIf="f.submitted && isloginfailed" style="color: red;text-align: center;">{{errormsg}}</h3>
      <button mat-raised-button style="background-color: green;padding:0" type="submit">Login</button>
    </form>
  </mat-card>

</div>