<div fxLayoutAlign="center"  class="main">
<mat-card fxFlex="30">
    <mat-toolbar style="background-color: green;">Login Page</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
        <mat-form-field>
            <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Password">
        </mat-form-field>
        <button mat-raised-button style="background-color: green;padding:0" type="submit">Login</button>
    </form>
</mat-card>

</div>