<div class="body">

    <div *ngIf="!isvisible" fxLayout="row" fxLayoutAlign="center center">
        <div class="time">
            <button mat-fab  >
              <p>{{days}}</p>
            </button>
          </div>
          <div class="time">
            <button mat-fab  >
              <p>{{hours}}</p>
            </button>
          </div>
          <div class="time">
            <button mat-fab >
              <p>{{minutes}}</p>
            </button>
          </div>
          <div class="time">
            <button mat-fab  >
              <p>{{seconds}}</p>
            </button>
          </div>
    </div>


</div>