<div class="body">
    <h2 style="text-align: center;font-family: 'Times New Roman', Times, serif;">VOTE FOR YOUR TEAM</h2>
    <h3 *ngIf="errormsg" style="color: red;text-align: center;">Error Loading Data!!</h3>
    <mat-toolbar>Chair</mat-toolbar>
    <div  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
    <div class="cards" *ngFor="let chair of chairs"  >
        <mat-radio-group [(ngModel)]="contestantss[0]">
        <mat-card fxLayout="row" fxLayoutAlign="space-between" >
            <img [src]="chair.base64image" [alt]="chair.name">
            <p style="margin-top: 40px;padding: 5px">{{chair.name}}</p>
            
            <mat-radio-button  style="margin-top: 40px;padding: 5px;" name="chairs" [value]="chair"></mat-radio-button>
        
        </mat-card> </mat-radio-group>
    </div>
    </div> 
    <mat-toolbar>Vice Chair</mat-toolbar>
    <div style="margin-top:10px" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
    <div class="cards" *ngFor="let vchair of vchairs"  >
        <mat-radio-group [(ngModel)]="contestantss[1]">
        <mat-card fxLayout="row" fxLayoutAlign="space-between" >
            <img [src]="vchair.base64image" [alt]="vchair.name">
            <p style="margin-top: 40px;padding: 5px">{{vchair.name}}</p>
            <mat-radio-button  style="margin-top: 40px;padding: 5px;" name="vchairs" [value]="vchair"></mat-radio-button>
            
        </mat-card> </mat-radio-group>
    </div>
    </div> 
    <mat-toolbar>SecGen</mat-toolbar>
    <div style="margin-top:10px" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
    <div class="cards" *ngFor="let secgen of secgens"  >
        <mat-radio-group [(ngModel)]="contestantss[2]">
        <mat-card fxLayout="row" fxLayoutAlign="space-between" >
            <img [src]="secgen.base64image" [alt]="secgen.name">
            <p style="margin-top: 40px;padding: 5px">{{secgen.name}}</p>
            <mat-radio-button style="margin-top: 40px;padding: 5px;" name="secgens" [value]="secgen"></mat-radio-button>
            
        </mat-card> </mat-radio-group>
    </div>
    </div> 
    <mat-toolbar>Academics</mat-toolbar>
    <div style="margin-top:10px" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
    <div class="cards" *ngFor="let academic of academics"  >
        <mat-radio-group [(ngModel)]="contestantss[3]">
        <mat-card fxLayout="row" fxLayoutAlign="space-between" >
            <img [src]="academic.base64image" [alt]="academic.name">
            <p style="margin-top: 40px;padding: 5px">{{academic.name}}</p>
            <mat-radio-button style="margin-top: 40px;padding: 5px;" name="academics" [value]="academic"></mat-radio-button>
            
        </mat-card> </mat-radio-group>
    </div>
    </div> 
    <mat-toolbar *ngIf="isloggedin">{{user.faculty}}</mat-toolbar>
    <div style="margin-top:10px" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
    <div class="cards" *ngFor="let faculty of faculties"  >
        <mat-radio-group [(ngModel)]="contestantss[4]">
        <mat-card fxLayout="row" fxLayoutAlign="space-between" *ngIf="faculty.position==user.faculty" >
            <img [src]="faculty.base64image" [alt]="faculty.name">
            <p style="margin-top: 40px;padding: 5px">{{faculty.name}}</p>
            <mat-radio-button style="margin-top: 40px;padding: 5px;" name="facultys" [value]="faculty"></mat-radio-button>
            
        </mat-card> </mat-radio-group>
    </div>
    </div> 
    <mat-toolbar *ngIf="isloggedin">{{user.residence}}</mat-toolbar>
    <div style="margin-top:10px" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
    <div class="cards" *ngFor="let hall of halls"  >
        <mat-radio-group [(ngModel)]="contestantss[5]">
        <mat-card fxLayout="row" fxLayoutAlign="space-between" *ngIf="hall.position==user.residence" >
            <img [src]="hall.base64image" [alt]="hall.name">
            <p style="margin-top: 40px;padding: 5px">{{hall.name}}</p>
            <mat-radio-button style="margin-top: 40px;padding: 5px;" name="halls" [value]="hall"></mat-radio-button>
        </mat-card> </mat-radio-group>
    </div>
    </div> 
    <button (click)="confirm()" mat-raised-button class="width-100 ml-1" style="background-color: green;margin-top:10px;border: 1px solid blue;"
    type="submit">Submit</button> 
</div>